@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
  html,
  body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
  }

  /* body::-webkit-scrollbar {
    width: 14px;
  }

  body::-webkit-scrollbar-track {
    background: #222233;
  }

  body::-webkit-scrollbar-thumb {
    background: #57efb4;
  } */

  * {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: block;
  }
}

.btn-solid {
  @apply border-2 border-emerald-400 bg-emerald-400 rounded-lg px-6 py-2 font-semibold text-white;
}

.btn-outline {
  @apply border-2 border-emerald-400 rounded-lg px-6 py-2 font-semibold hover:bg-emerald-400 hover:text-white transition-all hover:duration-500;
}

.btn-mobile {
  @apply border-2 border-green-500 rounded-lg px-12 py-4 text-center bg-green-500 text-white text-xs drop-shadow-button;
}

.start-card {
  @apply w-56 h-32 border-4 border-white rounded-md flex flex-col justify-center items-center shadow-2xl sm:w-44 sm:h-28 md:w-56 md:h-32;
}

.start-card-icon {
  @apply text-4xl text-white sm:text-2xl md:text-4xl;
}

.start-card-text {
  @apply text-white text-sm text-center pt-2;
}

.nav-link {
  @apply relative sm:after:block sm:after:absolute sm:after:bg-emerald-400 sm:after:h-[2px] sm:after:w-full sm:after:-bottom-1 sm:after:rounded-md;
}
